body{
    font-family: Arial, Helvetica, sans-serif;

}
.container
{
   width:800px; 
   border: 8px solid green;
   margin-top:50px;
   margin-bottom : 50px;
}
.container h1{
    border: 4px solid red;
    background:lightcoral;
    position: relative; /*relative matlb apni poition se hi move karga par document flow me hi rahega matlab ye apni jagah nhi chodta  */
    top:100px; /* apni poisition se top se 100px*/
    left:10px;
    z-index:-1 ; /*kon kike upar ye decide karga*/
}
.container h3{
    background-color: black;
    color:#fff;
}
.container p{
    
  border: 4px solid purple;
  background-color: rgba(255, 0, 0, 0.959), green, blue);

}