body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 ,h2 {
    border: 2px solid red;
    /* width : 300px; */
    /* height: 100px; */
    /* margin :100px; */
    /* padding: 50px; */
    display: inline;

}
a{
    border: 2px solid red;
     /* width: 100px;
     height: 100px; */
     /* margin: 40px; only i right and left will be set */
     /* padding: 10px 50px; */ /*PADDING-TOP AND BOOTOM OF INLINE ELEMNTS SHOULD NEVER BE SET EVERTHING WILL DISTORT*/
     display: block;
     margin: 20px 20px;
     padding: 10px  ;
}