 <div class="row justify-content-evenly" id="footer">
      <div class="col-md-3 col-11">
        <h3>About</h3>
        <p>History</p>
        <p>Our Team</p>
        <p>Brand Guidelines</p>
        <p>Terms and conditions</p>
        <p>Privacy policy</p>
      </div>
      <div class="col-md-2 col-11">
        <h3>Services</h3>
        <p>How to order</p>
        <p>Our Product</p>
        <p>Order Status</p>
        <p>Promo</p>
        <p>Payment Method</p>

      </div>
      <div class="col-md-4 col-11">
        <h3>Title Here</h3>
        <p>Lorem ipsum dolor sit amet. lorem i doloe</p>
        <form action="" id="footer-form">
          <input type="search" name="" id="footer-search">
          <button type="submit" id="footer-btn"><i class="bi bi-send"></i></button>

        </form>
        <div class="social-icons text-center">
          <i class="bi bi-instagram"></i>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-twitter"></i>

        </div>

      </div>

    </div>