h2 ,img{
    /* border:5px solid red; */
    border-top:2px solid red;
    border-bottom:2px solid red;
}
div{
    border : 5px solid green;
    border-radius:10px;
}
ul , li,nav{
    /* border: 3px solid black; */
    border-width : 3px;
    border-style :dotted;
    border-color: black;
 
}
p{
   border: 5px solid red; 
   
}
span{
    border: 5px solid red; 
    
}
